.App {

  font-family: "Open Sans", sans-serif;
  width:100%;
 
}
.btn-3d {
  background-color: #ff1818;
 
  box-shadow: #d30000 1px 3px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
   margin-bottom:7px;
  transition: all 0.2s ease-in-out;
}
a{
  text-decoration: none;
}
.card-title{
  color:black;
}
.btn-3d:active {
  box-shadow: 0 2px #0056b3;
  transform: translateY(3px);
}
body{
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.formbox{
  display:flex;
  justify-content:space-between;
 
}
.loginregForm{
  width:350px;
}
.signupform{
  padding: 20px;
  margin:auto;
  height:550px;
    border-radius: 10px;
   
    background-color: white;
   
}
.input-group-text i{
  color:#7f7f7f;
}
.rightImagesignup{
  height:613px;
}
.signupinput{
  padding:.575rem .75rem;
}
.labelcontainer{
  text-align:left;
  font-weight:600;
}
.toppage{
  margin-top:20px;
}
.custom-control-label{
  text-align:left;
}
.login{
  background-color: #006a9f;
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
