.categoryimage{
    width: 100%;
   
    
 
}
.categorycard{
    align-items: center;
    
}
.card-body{
    padding:10px;
}
.card-title{
    margin:0px;
}
.homecategory{
    width:11%;
}
.categoryname{
    font-size: 12px;
}

.card-imagehomecontainer {
   
   
}
.titlehome{
    color:#555555;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 520;
   
}
.card-body{

    padding:10px;
}
.homeproductimage{
   
}
body{
    background:  #f5f5f5bd;
}
.categorysidehomeMain{
    background-color: white;
    border-radius:20px;
}
.bannerimage{
  
    width:100%;
  
    height:100%;
}
.banner-col{
width: 100%; 
 height: 400px; 
     background-color: #f4f5f7; 
    margin-bottom: 74px;
    position: relative;
}
.containerform{
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 372px;
    left: 0;
    right: 0;
    z-index: 3;
}
.nav-link{
    color:#df6e26;
    font-weight: 600;
}
.card-imagehomecontainer{
    position: relative;
}

.card-imagehomecontainer img {
    transform: scale(1); /* Normal size initially */
    transition: transform 0.4s ease; /* Smooth animation */
  }
  
  .card-imagehomecontainer:hover img {
    transform: scale(1.1); /* Zoom in on hover */
  }
  
.home-product-card {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0px;
    display: flex
;
    background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQoAAABTCAYAAABnPUlCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASdJREFUeNrs2sENgCAQRcFFMfbfKwV48A4xxg3qTAkeXv4SS0SUAOhYfAJAKAChAJ5XwxsFYFEAQgE4PQCLArAoAIsCsCgAhAJwegAWBSAUgFAAQgEIBSAUAEIBXAyFfykAiwKwKAChAJwegEUBWBSARQEgFIBQAEIBpIVi9RkAiwIQCsDpAVgUgEUBWBTAP0JRfQbA6QE4PQCLApggFN4oAIsCEArA6QFYFIBQAE4PwKIAOEOx+QyA0wNwegAWBWBRAG8IhcdMwOkBCAWQEApvFMAwFN4oAKEAnB5AQig8ZgJOD8CiACwKYIZQeMwELArAogAsCkAoAKEAvhEKbxSARQHcD4U/MwGnB2BRAAmh8EYBOD0ApweQEIrdZwBGoWg+A9BzCDAAJNoDCFJUBVUAAAAASUVORK5CYII=) repeat scroll 0 0;
    bottom: 0;
    height: 83px;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}
.enquiry-btn{
    background: #df6e26;
    color: white;
    border: none;
    /* padding: 15px 20px; */
    border-radius: 4px;
}
.feacture-product-name{
    
    font-size: 13px;
   
    line-height: 14px;
    margin: 0;
    width: 100%;
    text-align: center;

}
.feacture-product-name {
    color: rgb(255 255 255);
    font-weight: 510;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.servicecard{
    border-radius:10px;
}
.servicebody{
    background-color: rgb(0, 124, 196);
    color:white;
    padding:15px;
    

}
.servicename{
    color:white;
    font-size: 15px;
}
.serviceSection{
   margin:20px 50px;
}
.productcardHome{
    width:22.66%;
    padding-left:0px;
}
.homeproductimage{
  
}
.companyname{
    color: #838080;
    font-weight: 700;
}
.productSection{
    text-align:left;
}
.ellipsis2{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
 
}
.allpoductcard-body{
    border-top: 1px solid #d9d9d9;
}
.viewnumber-btn{
    display: inline-block;
    text-decoration: none;
    background: #f1f1f1;
    color: #000000;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    bottom: 0%;
    margin-top: 10%;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width:100%;
    position: relative;
    bottom:0%;
    margin-top: 10%;
}
.submit-btn{
    width:100%;
    position: relative;
    bottom:0%;
    margin-top: 5%;
}
.twosechome{
    margin: 20px;
}
.topsell{
    background: #efefef;
    margin: 10px;
    width:48%;
}

.topsell h4{
    margin:20px;
    text-align:left;
}
.topsell .slick-prev {
    width: 20px;
    left: 0;
    top: 50%;
    position: absolute;
    height: 20px;
    background: rgb(201, 201, 201);
    z-index: 1;
    color:black;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .topsell .slick-next {
    width: 20px;
    right: 0;
    top: 50%;
    position: absolute;
    height: 20px;
    background: rgb(201, 201, 201);
    z-index: 1;
    border-radius: 50%;
    color:black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .productnameTwo{
    font-size:18px;
    text-align: left;
  }
  .locationbox{
    background:white;
        border-radius: 10px;
    padding: 20px;
   width: 90%;
    
  }
  .searchform{
    padding:20px;
    background-color:#9be8ff7a;
    display: flex;
  }
  .searchfield{
    flex:0.9;
    border-radius: 10px 0px 0px 10px;
  }
  .setlocation{
    color:white;
    background-color: #00aee3;
    border-radius: 0px 10px 10px 0px;
  }
  .topcate-card{
    padding: 5px;
  background: #cfcfcf;
  color: #3f3e3e;
  text-decoration: none;
  border-radius: 5px;
  margin:50px  10px;
}
.topcategory{
    margin-top: 20px;
    display: inline-block;
}
.container2{
    padding: 10px;
}
.card-imagerecentcontainer {
    width: 100%;
    padding: 10px;
    /* height: 162px; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgb(225, 231, 234);
    box-sizing: border-box;
}
.relatedproductimage{
    max-width: 100%;
    object-fit: contain;
}
.card-info{
    padding: 9px 14px 17px 20px;
}
.backgroundImage{
  /*  background: url(../icons/backgroundimage.jpg);*/
}
@media only screen and (max-width: 768px){
.home-slider-hero{
    height: auto !important;
}
.slick-list{
    margin:0px;
}
.imagesildercolumn{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.banner-col{
    width: 49%;
    padding: 5px !important;
    margin-bottom: 0px !important;
}
.bannerhome-two{
    padding:0px 10px !important;
}
.bannerimage {
    height:auto;
    width: 100%;
    border-radius: 20px;
}
.cardcategory-image{
  
    object-fit: contain;
    height: 164px;
}
.card-imagehomecontainer {
    height: auto; 
     border-bottom:none; 
    width: 100%;
    position: relative;
}
.companyname {
    color: #838080;
    font-weight: 700;
    padding: 14px 11px 0px;
}
.enquiry-btn-home-container{
    padding: 11px;
    position: relative;
}
.homeproductimage {
    width: 100%;
    object-fit: contain;
}
.sliderImge-container{
    height: auto;
}
.feature-product-container{
    background: none;
    padding: 15px;
    border-radius: 10px;
    margin: 0px;
}
.feacture-product-card{
    width: 50%;
    padding-left: 8px;

}
.home-product-title{
    padding: 14px 11px 0px;
    border-top: 1px solid rgb(238, 240, 243);
    text-align: left;
       display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    color: rgb(38, 92, 129);
    transition: 0.1s ease-in-out;
}
.home-product-card{
    padding:0px;
}

.ellipsis2 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.feacture-product-name {
    font-size: 16px;
    color: rgb(38, 92, 129);
    font-weight: 510;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.homepage-row{
    display: block;
}
.homepage-column {
    flex: 1 1;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}
.footerlist {
     width: 100%; 
}
}